tensorflow
pandas 
dvc
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm # To create Progress Bar if code is taking Time
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e . # To install src folder as local package
